[submodule "sensei-server"]
	path = sensei-server
	url = https://github.com/sensei-software/sensei-server
[submodule "sensei-api"]
	path = sensei-api
	url = https://github.com/sensei-software/sensei-api
[submodule "sensei-ui"]
	path = sensei-ui
	url = https://github.com/sensei-software/sensei-ui
[submodule "sensei-firmware"]
	path = sensei-firmware
	url = https://github.com/sensei-software/sensei-firmware
